body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  color: rgb(212, 235, 255);
}

.carousel-indicators{
   color: transparent;
}
div{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  gap:2%;
  z-index: 5;
}
img{
  border-radius: 70px;
  height: 70%;
  box-shadow: 1px 5px #dbdbdb;
}
 

  

 
